@import "tailwindcss";
@import "./routes/HeroList/HeroList.css";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  color-scheme: dark;
  background-color: black;
}
